node_modules/
.env
*.log

terraform/envs/dev/.terraform/
terraform/envs/dev/.terraform.lock.hcl
terraform/envs/dev/terraform.tfstate
terraform/envs/dev/terraform.tfstate.backup
terraform/envs/dev/*.tfplan
